<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ValorantGuia"
        tools:targetApi="31">
        <activity
            android:name=".maps.AgentsMapas.Agents"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsBreach"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsDeadlock"
            android:exported="false" />
        <activity android:name=".Cadastro" />
        <activity
            android:name=".maps.AgentsMapas.AgentsGekko"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsHardor"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsFade"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsNeon"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsChamber"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsKayo"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsAstra"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsYoru"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsSkye"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsJett"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsOmen"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsKilljoy"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsReyna"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsCypher"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsViper"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsSova"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsSage"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsPhoenix"
            android:exported="false" />
        <activity
            android:name=".maps.AgentsMapas.AgentsBrimstone"
            android:exported="false" />
        <activity
            android:name=".maps.split.splitMapa"
            android:exported="false" />
        <activity
            android:name=".maps.icebox.iceboxMapa"
            android:exported="false" />
        <activity
            android:name=".maps.ascent.ascentMapa"
            android:exported="false" />
        <activity
            android:name=".maps.sunset.sunsetMapa"
            android:exported="false" />
        <activity
            android:name=".maps.bind.bindMapa"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Declaração da TelaPrincipalActivity -->
        <activity
            android:name=".TelaPrincipalActivity"
            android:exported="true" />
    </application>

</manifest>